@{
    ViewBag.Title = "Provo's Top 5 Restaurants";
    ViewBag.Dash = " - ";
    ViewBag.SubTitle = "";
}

@model IEnumerable<> 

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>

<div>
    <ul>
        <li>

        </li>
    </ul>

</div>