@{
    ViewBag.Title = "Provo's Top 5 Restaurants";
    ViewBag.Dash = " - ";
    ViewBag.SubTitle = "Home";
}

@model IEnumerable<string> 

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>

<div>
    <ul>
    @foreach (string r in Model)
    {
        <li>
            @r
        </li>
    }
    </ul>

</div>